<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profil</title>
  <link
    rel="stylesheet"
    type="text/css"
    id="applicationStylesheet"
    href="css/styles.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function tagClicked(el) {
      $(el).parent().find(".tag_item").removeClass("selected");
      $(el).addClass("selected");
    }

    function setMail() {
      const firstname = document.getElementById("firstname_input").value;
      const lastname = document.getElementById("lastname_input").value;
      if (firstname != "" && lastname != "") {
        document.getElementById("mail").value =
          lastname.toLowerCase() + "." + firstname.toLowerCase();
        restoreMailExample();
      }
    }
  </script>
</head>
<body>
  <div id="Profil" style="height: 100%; overflow: scroll">
    <div class="top_bar">
      <div class="top_svg_div">
        <svg class="top_svg" viewBox="0 0 345 215" preserveAspectRatio="none">
          <path d="M 0,0 H 345 V 150.00004 L 172.5,215 0,150.00004 Z" />
        </svg>
      </div>
      <div class="profile_image_div">
        <img
          src="assets/icon/contact_default.png"
          alt="profile picture"
          class="profile_image"
        />
      </div>
      <div id="main_info_tab">
        <div>
          <span id="name" *ngIf="isDataAvailable"
            >{{user.firstName}} {{user.lastName}}</span
          >
        </div>
        <div class="info_second_line">
          <span id="studiengang">{{user.course}} - {{user.additional}}</span>
        </div>
        <div class="info_second_line">
          <span id="standort">{{user.courseAbr}} - DHBW {{user.dhbw}}</span>
        </div>
      </div>
    </div>
    <div id="bio" class="content">
      <div class="content_header"><span>Biographie</span></div>
      <div id="bio_content">
        <span>{{user.bio}}</span>
      </div>
    </div>
    <div id="tags" class="content">
      <div class="content_header"><span>Skill-Tags</span></div>
      <app-tag *ngFor="let tag of tags" [tag]="tag"></app-tag>
      <div id="addTag" class="add_item" (click)="addTag()">
        <div class="add_div">
          <svg class="add_svg">
            <use xlink:href="img/add_icon.svg#add" />
          </svg>
        </div>
        <span class="add_content">hinzufügen</span>
      </div>
    </div>
    <div id="tagValidations" class="content">
      <div class="content_header"><span>Skill-Verfizierungen</span></div>
      <div class="tagValidation_content">
        <div class="tagValidation_item"></div>
      </div>
    </div>
    <button id="Verify_Button" class="Default_Button" (click)="openEditPage()">
      Profil Bearbeiten
    </button>
  </div>
</body>
