body {
  background-color: white;
}

#Header {
  position: relative;
	margin-top: 30%;
}

#logoDiv {
  height: 100px;
  text-align: center;
  position: relative;
}

#logo {
  max-width: 100%;
  max-height: 80%;
}

#SeparatorLine {
  position: relative;
  width: 100%;
  height: 1px;
  transform: translateX(-50%);
  margin-top: 5%;
}

#Slogan {
  transform: translateX(-50%);
  width: 100%;
  line-height: 21px;
  text-align: center;
  font-family: Montserrat, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(122, 122, 122, 1);
  position: relative;
  left: 50%;
  margin-top: 10%;
}

#Anmelden {
  position: relative;
  width: 80%;
  height: 100%;
  font-family: arial, sans-serif;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
}

#SignUpFields {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15%;
}

.Default_Input {
  position: relative;
  width: 99%;
  height: 71px;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
  margin-bottom: 20px;
}

.Input_Description {
  left: 0px;
  top: 0px;
  position: relative;
  white-space: nowrap;
  line-height: 18px;
  margin-top: -3px;
  text-align: left;
  font-family: Montserrat, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(122, 122, 122, 1);
  margin-bottom: 21px;
}

#Default_Button {
  position: relative;
  width: 99%;
  height: 48px;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
  cursor: pointer;
  margin-top: 32px;
}

#AnmeldunBtnDescription {
  left: 50%;
  transform: translateX(-50%);
  top: 16.5px;
  position: absolute;
  overflow: visible;
  width: 79px;
  white-space: nowrap;
  line-height: 15px;
  margin-top: -1.5px;
  text-align: left;
  font-family: Montserrat, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#Register {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 100%;
  white-space: nowrap;
  line-height: 18px;
  text-align: center;
  font-family: Montserrat, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(122, 122, 122, 1);
  margin-top: 15%;
}

#Rechteck_1469 {
  fill: rgba(178, 0, 45, 1);
}
.Rechteck_1469 {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 48px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
}

#Rechteck_1511 {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(122, 122, 122, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rechteck_1511 {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 48px;
  left: 50%;
  transform: translateX(-50%);
  top: 23px;
}

#Rechteck_1511_w {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(122, 122, 122, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rechteck_1511_w {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 48px;
  left: 50%;
  transform: translateX(-50%);
  top: 23px;
}

#Pfad_1115 {
  fill: rgba(0, 0, 0, 0);
  stroke: rgba(178, 0, 45, 1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.Pfad_1115 {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 50%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  top: 0px;
}

#layer1 {
  position: absolute;
  transform: translateX(-50%);
  overflow: visible;
  left: 50%;
  width: 100%;
  height: 80px;
}

#layer1-9 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

#path84 {
  fill: rgba(125, 137, 144, 1);
}

.path84 {
  overflow: visible;
  position: absolute;
  width: 67.837px;
  height: 64.936px;
  left: 21.425px;
  top: 22.415px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#path88 {
  fill: rgba(226, 0, 26, 1);
}

.path88 {
  overflow: visible;
  position: absolute;
  width: 67.902px;
  height: 65.2px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#path100 {
  fill: rgba(142, 16, 22, 1);
}

.path100 {
  overflow: visible;
  position: absolute;
  width: 46.477px;
  height: 42.785px;
  left: 21.425px;
  top: 22.415px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#path242 {
  fill: rgba(226, 0, 26, 1);
}

.path242 {
  overflow: visible;
  position: absolute;
  width: 68.76px;
  height: 42.719px;
  left: 99.679px;
  top: 6.737px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#text2250 {
  left: 96.727px;
  top: 39.917px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  text-align: left;
  font-family: Calibri, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  color: rgba(226, 0, 26, 1);
}

#text3244 {
  left: 139.553px;
  top: 39.914px;
  position: absolute;
  overflow: visible;
  width: 104px;
  white-space: nowrap;
  text-align: left;
  font-family: Calibri, arial, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 42px;
  color: rgba(93, 105, 113, 1);
}

#path238 {
  fill: rgba(93, 105, 113, 1);
}

.path238 {
  overflow: visible;
  position: absolute;
  width: 71.836px;
  height: 42.72px;
  left: 173.281px;
  top: 6.74px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
