<body>
  <div id="Suche">
    <div id="Suche_Text"><span>Suche</span></div>
    <div id="Search_Group">
      <div class="Splitted_Input" id="DHBW-Mail_Standort">
        <input
          type="search"
          placeholder="Suche"
          class="Splitted_Input_Field"
          id="mail"
          (keyup.enter)="search()"
          (input)="onTextChange()"
          [(ngModel)]="searchText"
        />
        <select
          type="text"
          list="standorte"
          id="standort"
          class="Splitted_Dropdown_Field"
          [(ngModel)]="selectedOption"
        >
          <option value="tag" selected>Tag</option>
          <option value="user">Nutzer</option>
          <option value="standort">Standort</option>
          <option value="studiengang">Studiengang</option>
          <option value="kurs">Kurs</option>
        </select>
        <svg class="searchbar_svg">
          <use xlink:href="assets/icon/search_icon.svg#search" />
        </svg>
      </div>
      <div class="search_result">
        <div class="tag_result">
          <app-tag-preview
            *ngFor="let tag of resultTags"
            [tag]="tag"
            (click)="onTagPreviewClick(tag.tag)"
          ></app-tag-preview>
        </div>
        <div class="user_result">
          <app-contact-preview
            *ngFor="let user of resultsUser"
            [user]="user"
            (click)="openForeignProfile(user.userId)"
          ></app-contact-preview>
        </div>
      </div>
    </div>
  </div>
</body>
