<body>
  <div id="Suche">
    <div id="Suche_Text"><span>Suche</span></div>
    <div id="Search_Group">
      <div class="Splitted_Input" id="DHBW-Mail_Standort">
        <input
          type="search"
          placeholder="Suche"
          class="Splitted_Input_Field"
          id="mail"
        />
        <select
          type="text"
          list="standorte"
          id="standort"
          class="Splitted_Dropdown_Field"
        >
          <option value="tag">Tag</option>
          <option value="user">User</option>
          <option value="standort">Standort</option>
          <option value="studiengang">Studiengang</option>
          <option value="kurs">Kurs</option>
        </select>
        <svg class="searchbar_svg">
          <use xlink:href="assets/icon/search_icon.svg#search" />
        </svg>
      </div>
      <div class="search_result">
        <div class="tag_result">
          <div class="tag_item" onClick="tagClicked(this);">
            <span class="tag_item_content">#LaTeX</span>
          </div>
          <div class="tag_item" onClick="tagClicked(this);">
            <span class="tag_item_content">#CS:GO</span>
          </div>
          <div class="tag_item" onClick="tagClicked(this);">
            <span class="tag_item_content">#Algebra</span>
          </div>
          <div class="tag_item" onClick="tagClicked(this);">
            <span class="tag_item_content">#TheoInf</span>
          </div>
          <div class="tag_item" onClick="tagClicked(this);">
            <span class="tag_item_content">#Git</span>
          </div>
        </div>
        <div class="user_result">
          <button class="contact_item">
            <div class="profile_image_div">
              <img
                src="assets/icon/contact_default.png"
                alt="profile picture"
                class="profile_image"
              />
            </div>
            <div class="contact_info">
              <div class="contact_name">
                <span class="centered_text">Max Mustermann</span>
              </div>
              <div class="info_second_line">
                <span class="centered_text">Informatik @ DHBW-Karlsruhe</span>
              </div>
            </div>
          </button>
          <button class="contact_item">
            <div class="profile_image_div">
              <img
                src="assets/icon/contact_default.png"
                alt="profile picture"
                class="profile_image"
              />
            </div>
            <div class="contact_info">
              <div class="contact_name">
                <span class="centered_text">Max Mustermann</span>
              </div>
              <div class="info_second_line">
                <span class="centered_text">BWL @ DHBW-Karlsruhe</span>
              </div>
            </div>
          </button>
          <button class="contact_item">
            <div class="profile_image_div">
              <img
                src="assets/icon/contact_default.png"
                alt="profile picture"
                class="profile_image"
              />
            </div>
            <div class="contact_info">
              <div class="contact_name">
                <span class="centered_text">Max Mustermann</span>
              </div>
              <div class="info_second_line">
                <span class="centered_text"
                  >Wirtschaftsinformatik @ DHBW-Karlsruhe</span
                >
              </div>
            </div>
          </button>
          <button class="contact_item">
            <div class="profile_image_div">
              <img
                src="assets/icon/contact_default.png"
                alt="profile picture"
                class="profile_image"
              />
            </div>
            <div class="contact_info">
              <div class="contact_name">
                <span class="centered_text">Max Mustermann</span>
              </div>
              <div class="info_second_line">
                <span class="centered_text"
                  >Informationstechnik @ DHBW-Karlsruhe</span
                >
              </div>
            </div>
          </button>
          <button class="contact_item">
            <div class="profile_image_div">
              <img
                src="assets/icon/contact_default.png"
                alt="profile picture"
                class="profile_image"
              />
            </div>
            <div class="contact_info">
              <div class="contact_name">
                <span class="centered_text">Max Mustermann</span>
              </div>
              <div class="info_second_line">
                <span class="centered_text">Maschinenbau @ DHBW-Karlsruhe</span>
              </div>
            </div>
          </button>
          <button class="contact_item">
            <div class="profile_image_div">
              <img
                src="assets/icon/contact_default.png"
                alt="profile picture"
                class="profile_image"
              />
            </div>
            <div class="contact_info">
              <div class="contact_name">
                <span class="centered_text">Max Mustermann</span>
              </div>
              <div class="info_second_line">
                <span class="centered_text"
                  >Elektrotechnik @ DHBW-Karlsruhe</span
                >
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
