<body>
  <div id="Profil">
    <div class="top_bar">  
        <div class="top_svg_div">
          <div class="back_button_div">
            <button id="backArrowButton" (click)="goBackToPreviousPage()">
              <img src="assets/icon/arrow_back.svg" alt="back" id="back" />
            </button>
          </div>
          <svg class="top_svg" viewBox="0 0 345 215" preserveAspectRatio="none">
            <path d="M 0,0 H 345 V 150.00004 L 172.5,215 0,150.00004 Z" />
          </svg>             
        </div>
      <div class="profile_image_div">
        <img
          src="assets/icon/contact_default.png"
          alt="profile picture"
          class="profile_image"
         />
      </div>
      <div id="main_info_tab">
        <div>
          <span id="name" *ngIf="isDataAvailable"
            >{{user.firstname}} {{user.lastname}}</span
          >
        </div>
        <div class="info_second_line">
          <span id="studiengang" *ngIf="isDataAvailable"
            >{{user.course + (user.specialization ? ' - ' + user.specialization
            : '')}}</span
          >
        </div>
        <div class="info_second_line">
          <span id="standort" *ngIf="isDataAvailable"
            >{{user.courseAbbr}} - DHBW {{user.dhbwLocation}}</span
          >
        </div>
      </div>
    </div>
    <div id="bio" class="content">
      <div class="content_header"><span>Biographie</span></div>
      <div id="bio_content">
        <span *ngIf="isDataAvailable">{{user.biography}}</span>
      </div>
    </div>
    <div id="tags" class="content">
      <div class="content_header"><span>Skill-Tags</span></div>
      <div class="tags_content">
        <app-tag
          *ngFor="let tag of tags"
          [tag]="tag"
          [selected]="selectedTag"
          (tagSelected)="tagSelected($event)"
        ></app-tag>
      </div>
    </div>
    <div id="tagValidations" class="content">
      <div class="content_header"><span>Skill-Verfizierungen</span></div>
      <div class="tagValidation_content">
        <ul>
          <li *ngFor="let tagVal of tagValidations">{{tagVal}}</li>
        </ul>
      </div>
      <button
        class="Default_Button"
        *ngIf="!isUserLoggedInUser && isTagSelected && !hasUserAddedValidationToSelectedTag"
        (click)="addValidation()"
      >
        Validierung hinzufügen
      </button>
    </div>
    <button
      id="Verify_Button"
      class="Default_Button"
      (click)="addContact()"
      *ngIf="!isUserInContacts && !isUserLoggedInUser; else elseBlock"
    >
      Zu Meinen Kontakten hinzufügen
    </button>
    <ng-template #elseBlock>
      <button
        class="Default_Button"
        id="remove_btn"
        (click)="removeContact()"
        *ngIf="!isUserLoggedInUser"
      >
        Aus Kontakten entfernen
      </button>
    </ng-template>
  </div>
</body>
