<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kontakte</title>
  <link
    rel="stylesheet"
    type="text/css"
    id="applicationStylesheet"
    href="css/styles.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div id="Kontakte">
    <div id="Meine_Kontakte"><span>Meine Kontakte</span></div>
    <div id="Contact_Group">
      <button class="contact_item">
        <div class="profile_image_div">
          <img
            src="img/contact_default.png"
            alt="profile picture"
            class="profile_image"
          />
        </div>
        <div class="contact_info">
          <div class="contact_name">
            <span class="centered_text">Max Mustermann</span>
          </div>
          <div class="info_second_line">
            <span class="centered_text">Informatik @ DHBW-Karlsruhe</span>
          </div>
        </div>
      </button>
      <button class="contact_item">
        <div class="profile_image_div">
          <img
            src="img/contact_default.png"
            alt="profile picture"
            class="profile_image"
          />
        </div>
        <div class="contact_info">
          <div class="contact_name">
            <span class="centered_text">Max Mustermann</span>
          </div>
          <div class="info_second_line">
            <span class="centered_text">BWL @ DHBW-Karlsruhe</span>
          </div>
        </div>
      </button>
      <button class="contact_item">
        <div class="profile_image_div">
          <img
            src="img/contact_default.png"
            alt="profile picture"
            class="profile_image"
          />
        </div>
        <div class="contact_info">
          <div class="contact_name">
            <span class="centered_text">Max Mustermann</span>
          </div>
          <div class="info_second_line">
            <span class="centered_text"
              >Wirtschaftsinformatik @ DHBW-Karlsruhe</span
            >
          </div>
        </div>
      </button>
      <button class="contact_item">
        <div class="profile_image_div">
          <img
            src="img/contact_default.png"
            alt="profile picture"
            class="profile_image"
          />
        </div>
        <div class="contact_info">
          <div class="contact_name">
            <span class="centered_text">Max Mustermann</span>
          </div>
          <div class="info_second_line">
            <span class="centered_text"
              >Informationstechnik @ DHBW-Karlsruhe</span
            >
          </div>
        </div>
      </button>
      <button class="contact_item">
        <div class="profile_image_div">
          <img
            src="img/contact_default.png"
            alt="profile picture"
            class="profile_image"
          />
        </div>
        <div class="contact_info">
          <div class="contact_name">
            <span class="centered_text">Max Mustermann</span>
          </div>
          <div class="info_second_line">
            <span class="centered_text">Maschinenbau @ DHBW-Karlsruhe</span>
          </div>
        </div>
      </button>
      <button class="contact_item">
        <div class="profile_image_div">
          <img
            src="img/contact_default.png"
            alt="profile picture"
            class="profile_image"
          />
        </div>
        <div class="contact_info">
          <div class="contact_name">
            <span class="centered_text">Max Mustermann</span>
          </div>
          <div class="info_second_line">
            <span class="centered_text">Elektrotechnik @ DHBW-Karlsruhe</span>
          </div>
        </div>
      </button>
      <button class="contact_item">
        <div class="profile_image_div">
          <img
            src="img/contact_default.png"
            alt="profile picture"
            class="profile_image"
          />
        </div>
        <div class="contact_info">
          <div class="contact_name">
            <span class="centered_text">Max Mustermann</span>
          </div>
          <div class="info_second_line">
            <span class="centered_text">Mechatronik @ DHBW-Karlsruhe</span>
          </div>
        </div>
      </button>
      <button class="contact_item">
        <div class="profile_image_div">
          <img
            src="img/contact_default.png"
            alt="profile picture"
            class="profile_image"
          />
        </div>
        <div class="contact_info">
          <div class="contact_name">
            <span class="centered_text">Max Mustermann</span>
          </div>
          <div class="info_second_line">
            <span class="centered_text">Informatik @ DHBW-Karlsruhe</span>
          </div>
        </div>
      </button>
    </div>
  </div>
</body>
