<body>
  <div id="Bearbeiten" (change)="detectChanges()">
    <div id="top-nav">
      <button id="backArrowButton" (click)="backToProfilePage()">
        <img src="assets/icon/arrow_back.svg" alt="back" id="back" />
      </button>
      <div id="RegistrierenText"><span>Profil</span></div>
    </div>
    <div id="sign-up">
      <div class="Default_Input" id="firstname">
        <div class="Default_Input_Text"><span>Vorname</span></div>
        <input
          type="text"
          placeholder="{{user.firstname}}"
          class="Default_Input_Field"
          id="firstname_input"
          disabled
          *ngIf="isDataAvailable"
        />
      </div>
      <div class="Default_Input" id="lastname">
        <div class="Default_Input_Text"><span>Nachname</span></div>
        <input
          type="text"
          placeholder="{{user.lastname}}"
          class="Default_Input_Field"
          id="lastname_input"
          disabled
          *ngIf="isDataAvailable"
        />
      </div>
      <div class="Splitted_Input" id="DHBW-Mail_Standort">
        <div class="Default_Input_Text"><span>DHBW-E-Mail-Adresse</span></div>
        <input
          type="text"
          placeholder="{{user.email.split('@', 1)[0]}}"
          class="Splitted_Input_Field"
          id="mail"
          *ngIf="isDataAvailable"
          disabled
        />
        <input
          type="text"
          list="standorte"
          id="standort"
          class="Splitted_Dropdown_Field"
          placeholder="Karlsruhe"
          value="{{user.dhbwLocation}}"
          *ngIf="isDataAvailable"
          disabled
        />
        <div class="email_preview_div">
          <span id="email_preview_text" *ngIf="isDataAvailable"
            >{{user.email}}</span
          >
        </div>
      </div>
      <div class="Default_Input" id="Bio">
        <div class="Default_Input_Text"><span>Biographie</span></div>
        <textarea
          type="text"
          class="Default_Input_Field"
          id="bio_textarea"
          maxlength="1000"
          rows="4"
          *ngIf="isDataAvailable"
          [(ngModel)]="user.biography"
        >
{{user.biography}}</textarea
        >
      </div>
      <div class="Default_Input" id="Studiengang">
        <div class="Default_Input_Text"><span>Studiengang</span></div>
        <input
          type="text"
          class="Default_Input_Field"
          *ngIf="isDataAvailable"
          [(ngModel)]="user.course"
        />
      </div>
      <div class="Default_Input" id="Fachrichtung">
        <div class="Default_Input_Text"><span>Fachrichtung</span></div>
        <input
          type="text"
          placeholder="optional"
          class="Default_Input_Field"
          *ngIf="isDataAvailable"
          [(ngModel)]="user.specialization"
        />
      </div>
      <div class="Default_Input" id="Kurs">
        <div class="Default_Input_Text"><span>Kurs</span></div>
        <input
          type="text"
          class="Default_Input_Field"
          *ngIf="isDataAvailable"
          [(ngModel)]="user.courseAbbr"
        />
      </div>
      <div class="Default_Input" id="Stadt">
        <div class="Default_Input_Text"><span>Stadt</span></div>
        <input
          type="text"
          class="Default_Input_Field"
          *ngIf="isDataAvailable"
          [(ngModel)]="user.city"
        />
      </div>
      <button id="Delete_Button" class="Default_Button" (click)="delete()">
        Profil löschen
      </button>
    </div>
    <div id="bottom-nav" [style.visibility]="buttonVisibility">
      <button id="Register_Button" class="Default_Button" (click)="edit()">
        Änderungen Speichern
      </button>
    </div>
  </div>
</body>
