<button class="contact_item">
  <div class="profile_image_div">
    <img
      src="../../../../assets/icon/contact_default.png"
      alt="profile picture"
      class="profile_image"
    />
  </div>
  <div class="contact_info">
    <div class="contact_name">
      <span class="centered_text"
        >{{ user.firstname }} {{ user.lastname }}</span
      >
    </div>
    <div class="info_second_line">
      <span class="centered_text"
        >{{ user.course }} @ DHBW-{{ user.dhbwLocation }}</span
      >
    </div>
  </div>
</button>
