<!DOCTYPE html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registrieren</title>
</head>
<body>
<div id="Verifizieren">
  <div id="top-nav">
    <div id="backArrowDiv"> <img src="img/arrow_back.svg" alt="back" id="back"> </div>
    <div id="VerifizierenText"> <span style="">Verifizieren</span></div>
  </div>
  <div id="main">
    <div id="Disclaimer"> <span>Wir haben dir eine Mail an deine DHBW-Email-Adresse gesendet.<br/>
      Bitte gib hier den Code ein.</span> </div>
    <div class="code_group" id="code_group_1">
      <div class="code_digit" id="code_digit_1">
        <svg class="digit_underscore_SVG">
          <rect class="digit_underscore_Rect" rx="2.5" ry="2.5" x="0" y="0" width="40" height="5"> </rect>
        </svg>
        <div class="digit_text"> <span>0</span> </div>
      </div>
      <div class="code_digit" id="code_digit_2">
        <svg class="digit_underscore_SVG">
          <rect class="digit_underscore_Rect" rx="2.5" ry="2.5" x="0" y="0" width="40" height="5"> </rect>
        </svg>
        <div class="digit_text"> <span>0</span> </div>
      </div>
      <div class="code_digit" id="code_digit_3">
        <svg class="digit_underscore_SVG">
          <rect class="digit_underscore_Rect" rx="2.5" ry="2.5" x="0" y="0" width="40" height="5"> </rect>
        </svg>
        <div class="digit_text"> <span>0</span> </div>
      </div>
    </div>
    <div class="code_group" id="code_group_2">
      <div class="code_digit" id="code_digit_4">
        <svg class="digit_underscore_SVG">
          <rect class="digit_underscore_Rect" rx="2.5" ry="2.5" x="0" y="0" width="40" height="5"> </rect>
        </svg>
        <div class="digit_text"> <span>0</span> </div>
      </div>
      <div class="code_digit" id="code_digit_5">
        <svg class="digit_underscore_SVG">
          <rect class="digit_underscore_Rect" rx="2.5" ry="2.5" x="0" y="0" width="40" height="5"> </rect>
        </svg>
        <div class="digit_text"> <span>0</span> </div>
      </div>
      <div class="code_digit" id="code_digit_6">
        <svg class="digit_underscore_SVG">
          <rect class="digit_underscore_Rect" rx="2.5" ry="2.5" x="0" y="0" width="40" height="5"> </rect>
        </svg>
        <div class="digit_text"> <span>0</span> </div>
      </div>
    </div>
    <div id="Verify_Button" class="Default_Button">
      <svg class="Default_Button_RectSVG">
        <rect class="Default_Button_Rect" rx="8" ry="8" x="0" y="0" width="100%" height="48"> </rect>
      </svg>
      <div class="Default_Button_Text"> <span>Verifizieren</span> </div>
    </div>
  </div>
</div>
</body>

