<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registrieren</title>
  <link
    rel="stylesheet"
    type="text/css"
    id="applicationStylesheet"
    href="css/styles.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div id="Verifizieren">
    <div id="top-nav">
      <button id="backArrowButton">
        <img src="img/arrow_back.svg" alt="back" id="back" />
      </button>
      <div id="VerifizierenText"><span>Verifizieren</span></div>
    </div>
    <div id="main">
      <div id="Disclaimer">
        <span
          >Wir haben dir eine Mail an deine DHBW-Email-Adresse gesendet.<br />
          Bitte gib hier den Code ein.</span
        >
      </div>
      <div class="code_group" id="code_group_1">
        <div class="code_digit" id="code_digit_1">
          <input
            type="number"
            class="code_digit_field"
            id="code_digit_field_1"
            [(ngModel)]="code_digit_field_1"
            placeholder="0"
            inputmode="numeric"
            pattern="[0-9]*"
            oninput="this.value=this.value.substring(this.value.length-1, this.value.length); document.getElementById('code_digit_field_2').focus();"
          />
          <svg class="digit_underscore_SVG">
            <rect
              class="digit_underscore_Rect"
              rx="2.5"
              ry="2.5"
              x="0"
              y="0"
              width="40"
              height="5"
            ></rect>
          </svg>
        </div>
        <div class="code_digit" id="code_digit_2">
          <input
            type="number"
            class="code_digit_field"
            id="code_digit_field_2"
            [(ngModel)]="code_digit_field_2"
            placeholder="0"
            inputmode="numeric"
            pattern="[0-9]*"
            oninput="this.value=this.value.substring(this.value.length-1, this.value.length); document.getElementById('code_digit_field_3').focus();"
          />
          <svg class="digit_underscore_SVG">
            <rect
              class="digit_underscore_Rect"
              rx="2.5"
              ry="2.5"
              x="0"
              y="0"
              width="40"
              height="5"
            ></rect>
          </svg>
        </div>
        <div class="code_digit" id="code_digit_3">
          <input
            type="number"
            class="code_digit_field"
            id="code_digit_field_3"
            [(ngModel)]="code_digit_field_3"
            placeholder="0"
            inputmode="numeric"
            pattern="[0-9]*"
            oninput="this.value=this.value.substring(this.value.length-1, this.value.length); document.getElementById('code_digit_field_4').focus();"
          />
          <svg class="digit_underscore_SVG">
            <rect
              class="digit_underscore_Rect"
              rx="2.5"
              ry="2.5"
              x="0"
              y="0"
              width="40"
              height="5"
            ></rect>
          </svg>
        </div>
      </div>
      <div class="code_group" id="code_group_2">
        <div class="code_digit" id="code_digit_4">
          <input
            type="number"
            class="code_digit_field"
            id="code_digit_field_4"
            [(ngModel)]="code_digit_field_4"
            placeholder="0"
            inputmode="numeric"
            pattern="[0-9]*"
            oninput="this.value=this.value.substring(this.value.length-1, this.value.length); document.getElementById('code_digit_field_5').focus();"
          />
          <svg class="digit_underscore_SVG">
            <rect
              class="digit_underscore_Rect"
              rx="2.5"
              ry="2.5"
              x="0"
              y="0"
              width="40"
              height="5"
            ></rect>
          </svg>
        </div>
        <div class="code_digit" id="code_digit_5">
          <input
            type="number"
            class="code_digit_field"
            id="code_digit_field_5"
            [(ngModel)]="code_digit_field_5"
            placeholder="0"
            inputmode="numeric"
            pattern="[0-9]*"
            oninput="this.value=this.value.substring(this.value.length-1, this.value.length); document.getElementById('code_digit_field_6').focus();"
          />
          <svg class="digit_underscore_SVG">
            <rect
              class="digit_underscore_Rect"
              rx="2.5"
              ry="2.5"
              x="0"
              y="0"
              width="40"
              height="5"
            ></rect>
          </svg>
        </div>
        <div class="code_digit" id="code_digit_6">
          <input
            type="number"
            class="code_digit_field"
            id="code_digit_field_6"
            [(ngModel)]="code_digit_field_6"
            placeholder="0"
            inputmode="numeric"
            pattern="[0-9]*"
            oninput="this.value=this.value.substring(this.value.length-1, this.value.length); document.getElementById('code_digit_field_6').blur();"
          />
          <svg class="digit_underscore_SVG">
            <rect
              class="digit_underscore_Rect"
              rx="2.5"
              ry="2.5"
              x="0"
              y="0"
              width="40"
              height="5"
            ></rect>
          </svg>
        </div>
      </div>
      <button id="Verify_Button" class="Default_Button" (click)="verify()">
        Verifizieren
      </button>
    </div>
  </div>
</body>
